<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>740385455930-580jitscqjh2gomf3div7ct7sh3j8j3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740385455930-580jitscqjh2gomf3div7ct7sh3j8j3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDBTr-ptBskO4vZfbCfRzPrYliBM93S_m4</string>
	<key>GCM_SENDER_ID</key>
	<string>740385455930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.tomer.bu.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-e6140</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-e6140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740385455930:ios:2256ad40e7041329</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-e6140.firebaseio.com</string>
</dict>
</plist>